@import "Base/fonts";
@import "Base/body";
@import "Utils/map";
@import "Utils/variables";
@import "Utils/list";
@import "Utils/mixin";
@import "Components/buttons";
@import "Layouts/footer";
@import "Pages/page-menu-française";
header + div{
  background: url("images_resto/bg-délice.jpg") no-repeat;
  background-size: cover;
}
@media screen and (min-width:1024px){
  header + div{
    background: url("images_resto/bg-délice.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
    .main-section__container{
    .plats p{
      font-size: 1em;
    }
    /*couper la description*/
  }
}