@charset "UTF-8";
@font-face {
  font-family: "shrikhandregular";
  src: url("Police/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("Police/shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("Police/roboto/roboto-regular-webfont.woff2") format("woff2"), url("Police/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 1em;
  /*créer une map ou un variable*/
  font-family: "robotoregular", arial, sans-serif;
}

header, footer h3 {
  font-family: "shrikhandregular", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

button {
  background: linear-gradient(to top left, #9356dc, #FF79DA);
  height: 18%;
  width: 17em;
  border-radius: 2em;
  border: transparent;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 2px 10px #7f8182;
}
button:hover {
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  box-shadow: 0 2px 10px #000;
}

@keyframes wrapper {
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spinner {
  to {
    transform: rotate(720deg);
    opacity: 0;
  }
}
@keyframes choosing-menu {
  to {
    width: 5em;
    /*à revoir*/
  }
}
@keyframes spin {
  from {
    transform: translateX(20px) rotate(180deg);
  }
  to {
    transform: translateX(-25px) rotate(360deg);
  }
}
@keyframes apparition {
  from {
    transform-origin: center;
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.far {
  position: absolute;
  right: 1.5em;
  padding-top: 0.2em;
  z-index: 1;
}
.far .fas {
  padding-top: 0.25em;
  content: "ok";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 400ms;
  transform: scale(0);
  color: transparent;
  background: linear-gradient(to top left, #9356dc, #FF79DA);
  background-clip: text;
  opacity: 0;
}
.far:hover .fas, .far:active .fas {
  opacity: 1;
  transform: scale(1);
}

.entrees {
  animation: apparition 700ms both cubic-bezier(0.14, -0.43, 0.46, 1.35);
}

.plats {
  animation: apparition 700ms 500ms both cubic-bezier(0.14, -0.43, 0.46, 1.35);
}

.desserts {
  animation: apparition 700ms 800ms both cubic-bezier(0.14, -0.43, 0.46, 1.35);
}

.main-section__container div {
  position: relative;
  box-shadow: 0 2px 10px #7f8182;
  /*white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
}
.main-section__container div:hover::after {
  display: block;
  content: "";
  width: 1em;
  height: 4.9em;
  border-radius: 0 0.7em 0.7em 0;
  position: absolute;
  top: 0;
  right: 0;
  background: #99E2D0;
  animation: choosing-menu ease-in-out 300ms both;
}
.main-section__container div:hover .fa-check-circle {
  visibility: visible;
  position: absolute;
  top: 1em;
  right: 0;
  z-index: 1;
  color: white;
  font-size: 1.5em;
  animation: spin 500ms both;
}

/*
Ameliorer choosing-menu
rogner la description
Pwp
fas sur github
*/
footer {
  height: 10em;
  background-color: #353535;
  color: #fff;
  position: absolute;
  top: 110em;
  right: 0;
  bottom: 0;
  left: 0;
}
footer div {
  margin: 0 auto;
  width: 18em;
}
footer li {
  list-style: none;
  position: relative;
  left: -2.3em;
}
footer i {
  margin-right: 0.8em;
}
footer a {
  color: #fff;
}

.fa-hands-helping {
  font-size: 0.8em;
}

body::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #f6f6f6;
  z-index: 1;
  animation: wrapper 5s 3s forwards;
  opacity: 0.7;
}
body::after {
  display: block;
  content: "";
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 10px solid white;
  border-top: #9356dc 10px solid;
  border-bottom: #FF79DA 10px solid;
  animation: spinner 7s ease-in-out forwards;
  opacity: 1;
  margin: auto;
}

body a {
  color: #000;
}

button a, ul a {
  color: #fff;
}

header, .reserv {
  text-align: center;
}

h3 {
  width: 15em;
  margin-left: auto;
  margin-right: auto;
}

.reserv {
  position: absolute;
  top: 5em;
  right: 0;
  left: 0;
  background-color: #f6f6f6;
  height: 19em;
}
.reserv div {
  padding: 10px 0;
  background-color: #eaeaea;
  margin-bottom: 2em;
}
.reserv input {
  font-size: 1em;
  border: none;
  background-color: #eaeaea;
}
.reserv form {
  margin-left: 3em;
}
.reserv .fa-map-marker-alt {
  margin-right: 1em;
}

.fct {
  position: absolute;
  top: 24em;
  right: 0;
  left: 0;
  height: 17em;
  padding-top: 1em;
}
.fct div {
  border-radius: 15px;
  box-shadow: 0 2px 10px #7f8182;
  background-color: #f6f6f6;
  font-weight: bold;
  height: 2em;
  width: 18em;
  margin: 0 auto 15px;
  padding-top: 1em;
  text-align: center;
}
.fct span {
  display: inline-block;
  padding: 0.1em 0.5em;
  border-radius: 1em;
  color: white;
  background-color: #9356dc;
}
.fct i {
  color: #7e7e7e;
}

.fa-mobile-alt {
  font-size: 1.3em;
  position: relative;
  right: 0.8em;
  margin-right: 0.9em;
}

.fa-list-ul {
  position: relative;
  right: 2em;
}

.fa-store {
  position: relative;
  right: 1.7em;
}

.fct__1 {
  position: relative;
  right: 2em;
}

.fct__2 {
  position: relative;
  right: 3em;
}

.fct__3 {
  position: relative;
  right: 2.9em;
}

.resto {
  position: absolute;
  top: 42em;
  right: 0;
  left: 0;
  height: 70em;
  background-color: #f6f6f6;
  padding-top: 1em;
}
.resto .resto__menil, .resto .resto__charonne, .resto .resto__cite, .resto .resto__folie {
  display: block;
  height: 14.5em;
  width: 18em;
  border-radius: 15px;
  box-shadow: 0 2px 10px #7f8182;
  margin: 0 auto 15px;
}
.resto .resto__menil {
  background: url("images_resto/resto-1.jpg") no-repeat;
}
.resto .resto__charonne {
  background: url("images_resto/resto-2.jpg") no-repeat;
}
.resto .resto__cite {
  background: url("images_resto/resto-3.jpg") no-repeat;
}
.resto .resto__folie {
  background: url("images_resto/resto-4.jpg") no-repeat;
}
.resto h4, .resto p {
  position: relative;
  top: 11.5em;
  left: 0.5em;
  margin: 0;
}
.resto h4 {
  font-weight: bold;
}
.resto .resto__menil h4, .resto .resto__menil p, .resto .resto__charonne h4, .resto .resto__charonne p {
  top: 9em;
}
.resto .resto__menil__nouveau, .resto .resto__charonne__nouveau {
  position: relative;
  top: 1em;
  left: 10em;
  background-color: #99E2D0;
  color: #2c9c81;
  font-size: 1em;
  height: 1em;
  width: 7em;
  border-radius: 3px;
  text-align: center;
  padding: 0.6em 0;
}

@media screen and (min-width: 768px) {
  .fct {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fct h3, .resto h3 {
    position: absolute;
    top: 0;
    left: 3em;
  }

  .resto {
    display: flex;
    flex-direction: row;
  }
  .resto .resto__menil, .resto .resto__charonne, .resto .resto__cite, .resto .resto__folie {
    height: 25em;
    width: 45%;
    margin-top: 5em;
  }
  .resto .resto__menil {
    background: url("images_resto/resto-1-desktop.jpg") no-repeat;
    position: absolute;
    left: 2vw;
  }
  .resto .resto__charonne {
    background: url("images_resto/resto-2-desktop.jpg") no-repeat;
    position: absolute;
    right: 2vw;
  }
  .resto .resto__cite {
    background: url("images_resto/resto-3-desktop.jpg") no-repeat;
    position: absolute;
    top: 30em;
    left: 2vw;
  }
  .resto .resto__folie {
    background: url("images_resto/resto-4-desktop.jpg") no-repeat;
    position: absolute;
    top: 30em;
    right: 2vw;
  }
  .resto .resto__menil__nouveau, .resto .resto__charonne__nouveau {
    position: relative;
    top: 2em;
    left: 65%;
  }
  .resto h4, .resto p {
    top: -8em;
  }
  .resto .resto__menil h4, .resto .resto__menil p, .resto .resto__charonne h4, .resto .resto__charonne p {
    top: 48em;
  }

  footer {
    position: absolute;
    top: 113em;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 1025px) {
  .fct {
    flex-direction: row;
    align-items: center;
  }

  .resto div {
    width: 1500px;
    margin: 0 auto;
    position: relative;
  }
  .resto .resto__menil, .resto .resto__charonne, .resto .resto__cite, .resto .resto__folie {
    width: 45%;
  }
  .resto .resto__menil {
    background: url("images_resto/resto1.jpg") no-repeat;
    background-size: 100% 80%;
  }
  .resto .resto__charonne {
    background: url("images_resto/resto2.jpg") no-repeat;
    background-size: 100% 80%;
  }
  .resto .resto__cite {
    background: url("images_resto/resto3.jpg") no-repeat;
    background-size: 100% 80%;
  }
  .resto .resto__folie {
    background: url("images_resto/resto4.jpg") no-repeat;
    background-size: 100% 80%;
  }
  .resto .resto__menil__nouveau, .resto .resto__charonne__nouveau {
    position: relative;
    top: 2em;
    left: 35%;
  }
  .resto .resto__menil h4, .resto .resto__menil p, .resto .resto__charonne h4, .resto .resto__charonne p {
    top: 49.6em;
  }
}
/*remind: var; list; map*/

/*# sourceMappingURL=style.css.map */
