@charset "UTF-8";
@font-face {
  font-family: "shrikhandregular";
  src: url("police/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("police/shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("police/roboto/roboto-regular-webfont.woff2") format("woff2"), url("police/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 1em;
  /*créer une map ou un variable*/
  font-family: "robotoregular", arial, sans-serif;
}

header, footer h3 {
  font-family: "shrikhandregular", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

button {
  background: linear-gradient(to top left, #9356dc, #FF79DA);
  height: 18%;
  border-radius: 2em;
  border: transparent;
  color: #fff;
  font-size: 1em;
  box-shadow: 0 2px 10px #7f8182;
}

header, .reserv {
  text-align: center;
}

h3 {
  width: 15em;
  margin-left: auto;
  margin-right: auto;
}

.reserv {
  position: absolute;
  top: 5em;
  right: 0;
  left: 0;
  background-color: #f6f6f6;
  height: 19em;
}
.reserv div {
  padding: 10px 0;
  background-color: #eaeaea;
  margin-bottom: 2em;
}
.reserv .fa-map-marker-alt {
  margin-right: 1em;
}

.fct {
  position: absolute;
  top: 24em;
  right: 0;
  left: 0;
  height: 17em;
  padding-top: 1em;
}
.fct div {
  border-radius: 15px;
  box-shadow: 0 2px 10px #7f8182;
  background-color: #f6f6f6;
  font-weight: bold;
  height: 2em;
  width: 18em;
  margin: 0 auto 15px;
  padding-top: 1em;
  text-align: center;
}
.fct span {
  display: inline-block;
  padding: 0.1em 0.5em;
  border-radius: 1em;
  color: white;
  background-color: #9356dc;
}
.fct i {
  color: #7e7e7e;
}

.fa-mobile-alt {
  font-size: 1.3em;
  position: relative;
  right: 0.8em;
  margin-right: 0.9em;
}

.fa-list-ul {
  position: relative;
  right: 2em;
}

.fa-store {
  position: relative;
  right: 1.7em;
}

.fct__1 {
  position: relative;
  right: 2em;
}

.fct__2 {
  position: relative;
  right: 3em;
}

.fct__3 {
  position: relative;
  right: 2.9em;
}

.resto {
  position: absolute;
  top: 42em;
  right: 0;
  left: 0;
  height: 70em;
  background-color: #f6f6f6;
  padding-top: 1em;
}
.resto a {
  display: block;
  height: 14.5em;
  width: 18em;
  border-radius: 15px;
  box-shadow: 0 2px 10px #7f8182;
  margin: 0 auto 15px;
}
.resto .resto__menil {
  background: url("") no-repeat;
}
.resto .resto__charonne {
  background: url("") no-repeat;
}
.resto .resto__cite {
  background: url("") no-repeat;
}
.resto .resto__folie {
  background: url("") no-repeat;
}
.resto p, .resto span {
  position: relative;
  left: 0.5em;
}
.resto p {
  top: 11.5em;
  font-weight: bold;
}
.resto span {
  top: 10.6em;
}
.resto .fa-heart {
  position: absolute;
  right: 1.5em;
  padding-top: 0.2em;
}
.resto .resto__menil p, .resto .resto__charonne p {
  top: 8.5em;
}
.resto .resto__menil span, .resto .resto__charonne span {
  top: 7.6em;
}
.resto .resto__menil__nouveau, .resto .resto__charonne__nouveau {
  position: relative;
  top: 1em;
  left: 10em;
  background-color: #99e2d0;
  color: #2c9c81;
  font-size: 1em;
  height: 1em;
  width: 7em;
  border-radius: 3px;
  text-align: center;
  padding: 0.6em 0;
}
.resto a {
  color: #000;
}

@media screen and (min-width: 1024px) {
  .fct, .container {
    display: flex;
  }

  .fct {
    align-items: center;
  }

  .fct h3, .resto h3 {
    position: absolute;
    top: 0;
    left: 3em;
  }

  .container {
    justify-content: space-around;
  }
  .container a {
    height: 50em;
    width: 22em;
    margin-top: 5em;
  }
  .container .resto__menil__nouveau, .container .resto__charonne__nouveau {
    position: relative;
    top: 1em;
    left: 14em;
  }
  .container p, .container span {
    top: 44em;
  }
  .container .resto__menil p, .container .resto__menil span, .container .resto__charonne p, .container .resto__charonne span {
    top: 42em;
  }
}
footer {
  height: 10em;
  background-color: #353535;
  color: #fff;
  position: absolute;
  top: 110em;
  right: 0;
  bottom: 0;
  left: 0;
}
footer div {
  margin: 0 auto;
  width: 18em;
}
footer li {
  list-style: none;
  position: relative;
  left: -2.3em;
}
footer i {
  margin-right: 0.8em;
}
footer a {
  color: #fff;
}

.fa-hands-helping {
  font-size: 0.8em;
}

/*remind: var; list; map*/

/*# sourceMappingURL=style.css.map */
