button{
  background: $btn-bg;
  height:18%;
  width:17em;
  border-radius:2em;
  border:transparent;
  color: map-get($color, clr);
  font-size:1em;
  font-weight: bold;
  box-shadow:$box-shadow;
  transition-duration: 400ms;
  &:hover{
    background: lighter(map-get($color, primary),map-get($color, secondary),5%);
    box-shadow:$box-shadow-hover;
  }
}
form button{
  height:3em;
  margin-right: 3em;
}