button{
  background: $btn-bg;
  height:18%;
  border-radius:2em;
  border:transparent;
  color: map-get($color, clr);
  font-size:1em;
  font-weight: bold;
  box-shadow:$box-shadow;
  :hover, :active{
    color:green;
  }
}