body{
  font-size:1em; /*créer une map ou un variable*/
  font-family: "robotoregular",arial, sans-serif;
}
header, footer h3{
  font-family: "shrikhandregular", Arial, Helvetica, sans-serif;
}
a{
  text-decoration:none;
}
