body{
  &::before{
    display:block;
    content:"";
    @include position(absolute, $top:0, $bottom:0 ,$left:0, $right:0);
    width:auto;
    height: auto;
    background: map-get($color, color2);
    z-index: 1;
    animation: wrapper 5s 3s forwards;
    opacity: 0.7;
  }
  &::after{
    display:block;
    content:"";
    width: 10em;
    height:10em;
    border-radius: 50%;
    border: 10px solid white;
    border-top:map-get($color, primary) 10px solid;
    border-bottom:map-get($color, secondary) 10px solid;
    animation: spinner 7s ease-in-out forwards;
    opacity:1;
    margin:auto;
  }
}
body a{
    color:map-get($color, color5);
}
button a, ul a{
  color:map-get($color, clr);
}
header,.reserv{
  text-align:center;
}
h3{
  width:15em;
  margin-left: auto;
  margin-right: auto;
}
.reserv{
  @include position(absolute, $top:5em, $left:0, $right:0);
  background-color:map-get($color, color2);
  height:19em;
  div{
    padding: 10px 0;
    background-color: map-get($color,color3);
    margin-bottom: 2em;
  }
  input{
    font-size: 1em;
    border:none;
    background-color: map-get($color, color3);
  }
  form{
    margin-left: 3em;
  }
  .fa-map-marker-alt{
    margin-right: 1em;
  } 
}
.fct{
  @include position(absolute, $top:24em, $left:0, $right:0);
  height:17em;
  padding-top:1em;
    div{
      border-radius: 15px;
      box-shadow: $box-shadow;
      background-color: map-get($color,color2);
      font-weight: bold;
      height: $fct-div__height;
      width:18em;
      margin: 0 auto 15px;
      padding-top:($fct-div__height/2);
      text-align: center;
    }
    span{
      display:inline-block;
      padding: 0.1em 0.5em;
      border-radius: 1em;
      color:white;
      background-color: map-get($color, primary);
    }
   i{
      color:map-get($color, color4);
    }  
}
.fa-mobile-alt{
  font-size:1.3em;
  @include position(relative, $right: 0.8em );
  margin-right: 0.9em;
}
.fa-list-ul{
  @include position(relative, $right: 2em );
}
.fa-store{
  @include position(relative, $right: 1.7em );
}
.fct__1{
  @include position(relative, $right: 2em );
}
.fct__2{
  @include position(relative, $right: 3em );
}
.fct__3{
  @include position(relative,$right:2.9em );
}
.resto{
  @include position(absolute, $top:42em, $left:0, $right:0);
  height:70em;
  background-color: map-get($color, color2);
  padding-top:1em;
  .resto__menil,.resto__charonne,.resto__cite,.resto__folie{
    display:block;
    height:14.5em;
    width:18em;
    border-radius:15px;
    box-shadow:$box-shadow;
    margin:0 auto 15px; 
  }
  .resto__menil{
    background: url("images_resto/resto-1.jpg") no-repeat;
  }
  .resto__charonne{
    background: url("images_resto/resto-2.jpg") no-repeat;
  }
  .resto__cite{
    background: url("images_resto/resto-3.jpg") no-repeat;
  }
  .resto__folie{
    background: url("images_resto/resto-4.jpg") no-repeat;
  }
  h4,p{
    @include position(relative, $left:0.5em,$top:11.5em);
    margin:0;
  }
  h4{
    font-weight: bold;
  }
  .resto__menil,.resto__charonne{
    h4,p{
      @include position($top:9em);
    }
  }
  .resto__menil__nouveau, .resto__charonne__nouveau{
        @include position(relative,$top:1em, $left:10em);
        background-color: map-get($color, tertiaire);
        color:darken(map-get($color, tertiaire), 35%);
        font-size:1em;
        height:1em;
        width:7em;
        border-radius:3px;
        text-align:center;
        padding: 0.6em 0;
  }
}

@media screen and (min-width:768px){
  .fct{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fct h3, .resto h3{
    @include position(absolute, $left:3em ,$top:0);
  }
  .resto{
    display: flex;
    flex-direction: row;
    .resto__menil,.resto__charonne,.resto__cite,.resto__folie{
      height:25em;
      width: 45%;
      margin-top: 5em;
    }
    .resto__menil{
      background: url("images_resto/resto-1-desktop.jpg") no-repeat;
      @include position(absolute,$left:2vw);
    }
    .resto__charonne{
      background: url("images_resto/resto-2-desktop.jpg") no-repeat;
      @include position(absolute, $right:2vw);
    }
    .resto__cite{
      background: url("images_resto/resto-3-desktop.jpg") no-repeat;
      @include position(absolute, $top:30em, $left:2vw);
    }
    .resto__folie{
      background: url("images_resto/resto-4-desktop.jpg") no-repeat;
      @include position(absolute, $top:30em, $right:2vw);
    }
    .resto__menil__nouveau, .resto__charonne__nouveau{
      @include position(relative, $top:2em, $left:65%);
    }
    h4,p{
      @include position($top:22em);
    }
    .resto__menil,.resto__charonne{
      h4,p{
        @include position($top:20em);
      }
    }
  }
  footer{
    @include position(absolute,$top:113em,$bottom:0, $left:0, $right:0);
  }
}

@media screen and (min-width:1025px){
  .fct{
    flex-direction: row;
    align-items: center;
  }
  .resto{
    div{
      width:1500px;
      margin:0 auto;
      position: relative;
    }
    .resto__menil,.resto__charonne,.resto__cite,.resto__folie{
      width:45%;
    }
    .resto__menil{
      background: url("images_resto/resto1.jpg") no-repeat;
      background-size: $bg-size;
    }
    .resto__charonne{
      background: url("images_resto/resto2.jpg") no-repeat;
      background-size: $bg-size;
    }
    .resto__cite{
      background: url("images_resto/resto3.jpg") no-repeat;
      background-size: $bg-size;
    }
    .resto__folie{
      background: url("images_resto/resto4.jpg") no-repeat;
      background-size: $bg-size;
    }
    .resto__menil__nouveau, .resto__charonne__nouveau{
      @include position(relative, $top:2em, $left:35%);
    }
  }
}
