@keyframes wrapper{
  to{
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spinner{
to{
  transform: rotate(720deg);
  opacity: 0;
}
}
@keyframes choosing-menu{
  to{
    width:5em; /*à revoir*/
  }
} 
@keyframes spin{
  from{
    transform:translateX(20px) rotate(180deg);
  }
  to{
    transform:translateX(-25px) rotate(360deg);
  }
}
@keyframes apparition{
  from{
    transform-origin: center;
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
.far{
  @include position(absolute, $right:1.5em);
  padding-top: 0.2em;
  z-index: 1;
  .fas{
    padding-top: 0.25em;
    @include position(absolute, $right:0, $left:0, $top:0, $bottom:0);
    z-index: -1;
    transition: all 400ms;
    transform: scale(0);
    color:transparent;
    background:$btn-bg;
    background-clip: text;
    opacity: 0;
  }
  &:hover, &:active{
    .fas{
      opacity:1;
      transform: scale(1);
    }
  }
}
  .entrees{
    animation: apparition $duration both $cubic-bezier;

  }
  .plats{
    animation: apparition $duration 500ms both $cubic-bezier;
  }
  .desserts{
    animation: apparition $duration 800ms both $cubic-bezier;
  }
  .main-section__container div{
    position: relative;
    box-shadow: $box-shadow;
    span{
      transition: transform 400ms;
      transform: translate(0);
    }
    p{
      transition: transform 500ms;
      transform: scalex(1);
      border:1px solid green;
      width: 85%;
      @include ellipsis;
    }
    &:hover{
      &::after{
        display: block;
        content:"";
        width: 1em;
        height: 4.9em;
        border-radius: 0 0.7em 0.7em 0;
        @include position(absolute, $right:0, $top:0);
        background: map-get($color, tertiaire);
        animation: choosing-menu ease-in-out 300ms both;
      }
      .fa-check-circle{
        visibility: visible;
        @include position(absolute, $right:0, $top:1em);
        z-index:1;
        color:white;
        font-size: 1.5em;
        animation: spin 500ms both;
      } 
      span{
        transform: translate(-5em);
      } 
      p{
        /*transform:scalex(0.5);*/
        width: 70%;
        @include ellipsis;
      }
    }
  }
 /*
 Ameliorer choosing-menu
 opacity sur les boutons
 fas sur github
 rogner la description
 Pwp
 */