@keyframes wrapper{
  to{
    opacity: 0;
    z-index: 0;
  }
}
@keyframes spinner{
to{
  transform: rotate(720deg);
  opacity: 1;
}
}
body{
&::before{
  display:block;
  content:"";
  @include position(absolute, $top:0, $bottom:0 ,$left:0, $right:0);
  width:auto;
  height: auto;
  background: map-get($color, color2);
  z-index: 1;
  animation: wrapper 7s forwards;
}
&::after{
  display:block;
  content:"";
  width: 5em;
  height:5em;
  border-radius: 50%;
  border: 10px solid white;
  border-top:map-get($color, primary) 10px solid;
  border-bottom:map-get($color, secondary) 10px solid;
  animation: spinner 3s ease-in-out backwards;
  opacity:0;
  margin: 51vh auto;
}
}
.far{
  @include position(absolute, $right:1.5em);
  padding-top: 0.2em;
  z-index: 1;
  .fas{
    padding-top: 0.25em;
    content: "ok";
    @include position(absolute, $right:0, $left:0, $top:0, $bottom:0);
    z-index: -1;
    transition: all 400ms;
    transform: scale(0);
    color:transparent;
    background:$btn-bg;
    background-clip: text;
    opacity: 0;
  }
  &:hover, &:active{
    .fas{
      opacity:1;
      transform: scale(1);
    }
  }
}

@keyframes apparition{
  from{
    transform-origin: center;
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
  .entrees{
    animation: apparition $duration both $cubic-bezier;

  }
  .plats{
    animation: apparition $duration 500ms both $cubic-bezier;
  }
  .desserts{
    animation: apparition $duration 800ms both $cubic-bezier;
  }
  .main-section__container div{
    position: relative;
  
      &::after{
        display: block;
        content:"";
        width: 5em;
        height: 5em;
        border-radius: 0 0.7em 0.7em 0;
        @include position(absolute, $right:0, $top:0);
        background: map-get($color, tertiaire);
        animation: choosing-menu 500ms;
        z-index: 0;
      }
    
      .fa-check-circle{
        visibility: visible;
        @include position(absolute, $right:0, $top:0);
        z-index:1;
        color:white;
        font-size: 1.5em;
        animation: spinner reverse 1000ms, choosing-menu 100ms;
      } 
    &:hover{ 
    }
  }
  @keyframes choosing-menu{
    from{
      transform: translateX(20px);
    }
    to{
      transform: translateX(0);
    }
  }  
  /*.main-section__container div{
    position: relative;
    &::after{
      display: block;
      content:"";
      width: 5em;
      height: 5em;
      border-radius: 0 0.7em 0.7em 0;
      @include position(absolute, $right:0, $top:0);
      border: 1px solid black;
    }
    
     &::before{
      font-family: "Font Awesome 5 Free";
      content:"\f058";
      width:4em;
      border:1px solid red;
      @include position(absolute, $right:0, $top:40%);

    }*/
