.far{
  @include position(absolute, $right:1.5em);
  padding-top: 0.2em;
  z-index: 1;
  .fas{
    padding-top: 0.2em;
    content: "ok";
    @include position(absolute, $right:0, $left:0, $top:0, $bottom:0);
    z-index: -1;
    transition: all 400ms;
    transform: scale(0);
    color:transparent;
    background:$btn-bg;
    background-clip: text;
    opacity: 0;
  }
  &:hover{
    .fas{
      opacity:1;
      transform: scale(1);
    }
  }
}