header,.reserv{
  text-align:center;
}
h3{
  width:15em;
  margin-left: auto;
  margin-right: auto;
}
.reserv{
  @include position(absolute, $top:5em, $left:0, $right:0);
  background-color:map-get($color, color2);
  height:19em;
  div{
    padding: 10px 0;
    background-color: map-get($color,color3);
    margin-bottom: 2em;
  }
  .fa-map-marker-alt{
    margin-right: 1em;
  } 
}
.fct{
  @include position(absolute, $top:24em, $left:0, $right:0);
  height:17em;
  padding-top:1em;
    div{
      border-radius: 15px;
      box-shadow: $box-shadow;
      background-color: map-get($color,color2);
      font-weight: bold;
      height: $fct-div__height;
      width:18em;
      margin: 0 auto 15px;
      padding-top:($fct-div__height/2);
      text-align: center;
    }
    span{
      display:inline-block;
      padding: 0.1em 0.5em;
      border-radius: 1em;
      color:white;
      background-color: #9356dc;
    }
   i{
      color:#7e7e7e;
    }  
}
.fa-mobile-alt{
  font-size:1.3em;
  @include position(relative, $right: 0.8em );
  margin-right: 0.9em;
}
.fa-list-ul{
  @include position(relative, $right: 2em );
}
.fa-store{
  @include position(relative, $right: 1.7em );
}
.fct__1{
  @include position(relative, $right: 2em );
}
.fct__2{
  @include position(relative, $right: 3em );
}
.fct__3{
  @include position(relative,$right:2.9em );
}
.resto{
  @include position(absolute, $top:42em, $left:0, $right:0);
  height:70em;
  background-color: map-get($color, color2);
  padding-top:1em;
  div{
    display:block;
    height:14.5em;
    width:18em;
    border-radius:15px;
    box-shadow:$box-shadow;
    margin:0 auto 15px; 
  }
  .resto__menil{
    background: url("images_resto/resto-1.jpg") no-repeat;
  }
  .resto__charonne{
    background: url("images_resto/resto-2.jpg") no-repeat;
  }
  .resto__cite{
    background: url("images_resto/resto-3.jpg") no-repeat;
  }
  .resto__folie{
    background: url("images_resto/resto-4.jpg") no-repeat;
  }
  h4,p{
    @include position(relative, $left:0.5em);
    margin:0;
  }
  h4{
    @include position($top:11.5em);
    font-weight: bold;
  }
  p{
    @include position($top:11.5em);
  }
  .fa-heart{
    @include position(absolute, $right:1.5em);
    padding-top: 0.2em;
  }
  .resto__menil,.resto__charonne{
    h4,p{
      @include position($top:8.5em);
    }
  }
  .resto__menil__nouveau, .resto__charonne__nouveau{
        @include position(relative,$top:1em, $left:4.5em);
        background-color: #99e2d0;
        color:darken(#99e2d0, 35%);
        font-size:1em;
        height:1em;
        width:7em;
        border-radius:3px;
        text-align:center;
        padding: 0.6em 0;
  }
  a{
    color:#000;
  } 
}

@media screen and (min-width:768px){
  .fct{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fct h3, .resto h3{
    @include position(absolute, $left:3em ,$top:0);
  }
  .resto{
    display: flex;
    flex-direction: row;
    div{
      height:25em;
      width: 45%;
      margin-top: 5em;
    }
    .resto__menil{
      background: url("images_resto/resto-1-desktop.jpg") no-repeat;
      @include position(absolute,$left:2vw);
    }
    .resto__charonne{
      background: url("images_resto/resto-2-desktop.jpg") no-repeat;
      @include position(absolute, $right:2vw);
    }
    .resto__cite{
      background: url("images_resto/resto-3-desktop.jpg") no-repeat;
      @include position(absolute, $top:30em, $left:2vw);
    }
    .resto__folie{
      background: url("images_resto/resto-4-desktop.jpg") no-repeat;
      @include position(absolute, $top:30em, $right:2vw);
    }
    .resto__menil__nouveau, .resto__charonne__nouveau{
      @include position(relative, $top:-3em, $left:30%);
    }
    h4,p{
      @include position($top:-8em);
    }
    .resto__menil,.resto__charonne{
      h4,p{
        @include position($top:42em);
      }
    }
  }
  footer{
    @include position(absolute,$top:113em,$bottom:0, $left:0, $right:0);
  }
}

@media screen and (min-width:1025px){
  .resto{
    div{
      
    }
    .resto__menil{
      background: url("images_resto/bg-palette.jpg") no-repeat;
      background-size: contain;
    }
    .resto__charonne{
      background: url("images_resto/bg-enchantée.jpg") no-repeat;
      background-size: contain;
    }
    .resto__cite{
      background: url("images_resto/bg-fr.jpg") no-repeat;
    }
    .resto__folie{
      background: url("images_resto/resto-4-desktop.jpg") no-repeat;
    }
  }
}
