@keyframes wrapper{
  to{
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spinner{
  to{
    transform: rotate(720deg);
    opacity: 0;
  }
}
@keyframes apparition{
  from{
    transform-origin: center;
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes price-move{
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-5em);
  }
}
.far{
  @include position(absolute, $right:1.5em);
  padding-top: 0.2em;
  z-index: 1;
  .fas{
    padding-top: 0.25em;
    @include position(absolute, $right:0, $left:0, $top:0, $bottom:0);
    z-index: -1;
    color:transparent;
    background:$btn-bg;
    background-clip: text;
    transition: all 400ms;
    transform: scale(0);
    opacity: 0;
  }
  &:hover, &:active{
    .fas{
      opacity:1;
      transform: scale(1);
    }
  }
}
  .entrees{
    animation: apparition $duration both $cubic-bezier;
  }
  .plats{
    animation: apparition $duration 500ms both $cubic-bezier;
  }
  .desserts{
    animation: apparition $duration 800ms both $cubic-bezier;
  }
  .main-section__container div{
    position: relative;
    box-shadow: $box-shadow;
    p{
      width: 85%;
      transition: 500ms;
      @include ellipsis;
    }
    &::after{
      display: block;
      content:"";
      width: 5em;
      border-radius: 0 0.7em 0.7em 0;
      @include position(absolute, $right:0, $top:0,$bottom:0);
      background: map-get($color, tertiaire);
      transform: scalex(0);
      transition-duration:400ms;
      transform-origin: right;
    }
    .fa-check-circle{
      visibility: hidden;
      @include position(absolute, $right:1vw, $top:1em);
      z-index:1;
      color:white;
      font-size: 1.5em;
      transition-duration: 300ms;
      transform:translateX(10px) rotate(180deg); 
    } 
    &:hover{
      &::after{
        display: block;
        content:"";
        width: 5em;
        border-radius: 0 0.7em 0.7em 0;
        @include position(absolute, $right:-1px, $top:-1px,$bottom:-1px);
        background: map-get($color, tertiaire);
        transition: transform 400ms;
        transform: scalex(1);
      }
      .fa-check-circle{
        visibility: visible;
        @include position(absolute, $right:1vw, $top:1.2em);
        z-index:1;
        color:white;
        font-size: 1.5em;
        transition-duration: 700ms;
        transform:translateX(-75%) rotate(360deg);
      } 
      span{
        animation: price-move 400ms both;
      }
      p{
        width: 70%;
        @include ellipsis;
      }
    } 
  }
 /*
 fas sur github - autoprefixer
 Pwp
 */