@font-face {
  font-family: 'shrikhandregular';
  src: url('police/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
       url('police/shrikhand/shrikhand-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style:normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('police/roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('police/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}